body {
    margin:0;padding:0;
	min-width: 250px;
	overflow-x: hidden;
}
.panel{display:none;}

#panel_login{width:230px; margin:0 auto;}
#panel_login label{display:block;}
#panel_login input, #panel_login select{width:230px;}
#panel_login input#button_login{margin:10px 0;}

#panel_menu{font-size:10px;}
#panel_menu h3{font-size:12px;}